body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: 2px;
    font-weight: bold;
}


input {
    position: relative;
    display: inline-block;
  }
  
  input::before {
    background-color: #5678EF;
    width: 270px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: 'Select file';
    cursor: pointer;
  }


.main {
    display: block;
    border: solid 1px;
    padding: 2em;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;

}

button {
    margin-top: 20px;
    cursor: pointer;
}